/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5980d1;
  --ifm-color-primary-dark: #426ecb;
  --ifm-color-primary-darker: #3766c6;
  --ifm-color-primary-darkest: #2d54a3;
  --ifm-color-primary-light: #7092d7;
  --ifm-color-primary-lighter: #7c9bdb;
  --ifm-color-primary-lightest: #9fb6e4;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.homepage {
  width: 100%;
  max-width: 100%;
}

/* Heading */

.Heading {
  font-size: 25px;
  color: var(--ifm-font-color-base);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* HeaderEntry */

.HeaderEntry {
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .HeaderEntry .column.last {
    max-height: 300px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .HeaderEntry .column.last {
    width: 66.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 961px) {
  .HeaderEntry {
    max-height: 400px;
  }

  /* Correct for whitespace in the image of phones */
  .HeaderEntry .column.left {
    margin-top: -25px;
  }
}

/* Section */

.Section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.Section + .Section {
  border-top: 1px solid var(--ifm-table-border-color);
}

.Section.tint {
  background-color: var(--ifm-menu-color-background-active);
}

.Section.dark {
  background-color: var(--dark);
}

.Section p a {
  @extend %link-style;
}

html[data-theme="dark"] .Section p a {
  @extend %link-style-dark;
}

/* Two columns */

.TwoColumns {
  display: grid;
}

.TwoColumns .column {
  width: 100%;
}

.TwoColumns .column.first {
  padding-top: 25px;
  grid-area: first;
}

.TwoColumns .column.last {
  grid-area: last;
}

.TwoColumns a {
  text-decoration: none;
  color: inherit;
}

.TwoColumns a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 961px) {
  .TwoColumns {
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "first last";
  }

  .TwoColumns.reverse {
    grid-template-areas: "last first";
  }

  .TwoColumns .column {
    max-width: 450px;
  }

  .TwoColumns .column.left {
    padding-right: 50px;
  }

  .TwoColumns .column.right {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .TwoColumns,
  .TwoColumns.reverse {
    grid-template-columns: 1fr;
    grid-template-areas: "first" "last";
  }

  .TwoColumns .column {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .TwoColumns .column {
    padding: 0 1.25rem;
  }
}



