/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.HeaderBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-darkest);
}

.QuickStart {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.Features1 {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base-inverse);
}

.Features2 {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 966px) {
  .HeaderBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
